<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adad</title>
</head>
<body>
    <h1>Dashboard</h1>

    
    <p>current online session:</p>
    <% Object.entries(sessions).forEach(([SID,detail]) => { %>
        <p>session ID : <%= SID %></p>
        <p>userID : <%= detail.passport.user.id %></p>  
        <form method="POST" action="/auth/deletesession">
            <input type="hidden" value="<%= SID %>" name='sessionId'>
            <button type="submit" class="btn btn-secondary">remove session</button>
        </form>
     
    <% }) %>
    

    
    
</body>
</html>