<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adad</title>
</head>
<body>
    <h1>Dashboard</h1>


    <% for( let index = 0; index < session_detail["sessionID"].length; index++ ) { %>
        <p>current active session: </p>
        <p>session id:<%= session_detail["sessionID"][index] %> </p>
        <p>user id :<%= session_detail["UserID"][index] %> </p>
    <% } %>

    
    
</body>
</html>