<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adad</title>
</head>
<body>
    <h1>Dashboard</h1>

    <p>current active session: </p>
    <p>session id: <%= sid %></p>
    <p>user id : <%= userid %> </p>

    
    
</body>
</html>